################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Project3/v15
/Project3/dlib-19.7
/Project3/Release
/Project3/x64
/x64
